# ============================================
#  .gitignore - NANOBOT PORTABLE
#  whitelist mode by simata.id
# ============================================
/*
!/.gitignore
!/.gitattributes
!/LICENSE

!/data/.env.example

# All Portable Builder
!/setup.bat
!/nanobot-setup.ps1
!/nanobot-agent.ps1
!/nanobot-gateway.ps1
!/scripts/
!/scripts/**

# Update check
!/check_update.bat

# Python cache files
__pycache__/
*.py[cod]
*$py.class

# All Launcher Batch
!/start-chat.bat
!/start-gateway.bat
!/edit_env.bat
!/sync-webui.bat

# All Markdown
!/CHANGELOG.md
!/README.md
!/SECURITY.md
!/AGENTS.md

# GitHub config
!/.github/
!/.github/FUNDING.yml
